.input {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    margin: 0px 5px 0px 0px;
    width: 292px;
}

.btnAdd {
    border: none;
    background: none;
    border-radius: 5px;
    position: absolute;
}

.btnAdd:hover {
    cursor: pointer;
}